<a href="https://colab.research.google.com/github/Insulin-bangkit-2022/naivebayesclassification/blob/main/Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Libraries**

In [20]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
import tensorflow as tf
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

**Reading Data**

In [10]:
data = pd.read_csv("diabetes_data.csv", delimiter=';')
data

,age,gender,polyuria,polydipsia,sudden_weight_loss,weakness,polyphagia,genital_thrush,visual_blurring,itching,irritability,delayed_healing,partial_paresis,muscle_stiffness,alopecia,obesity,class
0,40,Male,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1
1,58,Male,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1
2,41,Male,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1
3,45,Male,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1
4,60,Male,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,39,Female,1,1,1,0,1,0,0,1,0,1,1,0,0,0,1
516,48,Female,1,1,1,1,1,0,0,1,1,1,1,0,0,0,1
517,58,Female,1,1,1,1,1,0,1,0,0,0,1,1,0,1,1
518,32,Female,0,0,0,1,0,0,1,1,0,1,0,0,1,0,0
519,42,Male,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
data.dtypes

age                    int64
gender                object
polyuria               int64
polydipsia             int64
sudden_weight_loss     int64
weakness               int64
polyphagia             int64
genital_thrush         int64
visual_blurring        int64
itching                int64
irritability           int64
delayed_healing        int64
partial_paresis        int64
muscle_stiffness       int64
alopecia               int64
obesity                int64
class                  int64
dtype: object

In [12]:
data["gender"] = data["gender"].apply({"Male":1, "Female":0}.get)
data.head()

,age,gender,polyuria,polydipsia,sudden_weight_loss,weakness,polyphagia,genital_thrush,visual_blurring,itching,irritability,delayed_healing,partial_paresis,muscle_stiffness,alopecia,obesity,class
0,40,1,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1
1,58,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1
2,41,1,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1
3,45,1,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1
4,60,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1

In [13]:
outcome_class = data['class']
outcome_diagnosis = []

for outcome in outcome_class:
  if(int(outcome) == 0):
    outcome_diagnosis.append('low risk')
  else:
    outcome_diagnosis.append('high risk')

data['Diagnosis'] = outcome_diagnosis
data

,age,gender,polyuria,polydipsia,sudden_weight_loss,weakness,polyphagia,genital_thrush,visual_blurring,itching,irritability,delayed_healing,partial_paresis,muscle_stiffness,alopecia,obesity,class,Diagnosis
0,40,1,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1,high risk
1,58,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1,high risk
2,41,1,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1,high risk
3,45,1,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1,high risk
4,60,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,high risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,39,0,1,1,1,0,1,0,0,1,0,1,1,0,0,0,1,high risk
516,48,0,1,1,1,1,1,0,0,1,1,1,1,0,0,0,1,high risk
517,58,0,1,1,1,1,1,0,1,0,0,0,1,1,0,1,1,high risk
518,32,0,0,0,0,1,0,0,1,1,0,1,0,0,1,0,0,low risk
519,42,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,low risk

Split data

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(390, 17)
(130, 17)
(390,)
(130,)

In [23]:
x = data[data.columns[:-1]]
y = data[data.columns[-1]]

nb= MultinomialNB()

train and test

In [27]:
%time nb.fit(x_train, y_train)

CPU times: user 6.67 ms, sys: 0 ns, total: 6.67 ms
Wall time: 6.08 ms

MultinomialNB()

In [31]:
y_pred_class = nb.predict(x_test)

akurasi

In [32]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.9769230769230769

In [33]:
# examine class distribution
print(y_test.value_counts())
# there is a majority class of 0 here, hence the classes are skewed

# calculate null accuracy (for multi-class classification problems)
# .head(1) assesses the value 1208
null_accuracy = y_test.value_counts().head(1) / len(y_test)
print('Null accuracy:', null_accuracy)

high risk    85
low risk     45
Name: Diagnosis, dtype: int64
Null accuracy: high risk    0.653846
Name: Diagnosis, dtype: float64

In [34]:
#Manual calculation of null accuracy by always predicting the majority class
print('Manual null accuracy:',(85 / (45 + 85)))

Manual null accuracy: 0.6538461538461539

In this case, we can see that our accuracy (0.97) is higher than the null accuracy (0.8672)

In [35]:
# print the confusion matrix
metrics.confusion_matrix(y_test, y_pred_class)

array([[85,  0],
       [ 3, 42]])

In [41]:
# calculate predicted probabilities for X_test_dtm (poorly calibrated)

# Numpy Array with 2C
# left Column: probability class 0
# right C: probability class 1
# we only need the right column 
y_pred_prob = nb.predict_proba(x_test)[:, 1]
y_pred_prob

# Naive Bayes predicts very extreme probabilites, you should not take them at face value

array([8.98501175e-01, 9.88307127e-01, 8.83167168e-01, 9.84141228e-01,
       3.84808085e-04, 8.79707672e-05, 5.90205374e-01, 9.91354149e-03,
       8.98501175e-01, 4.53416481e-02, 9.08810027e-01, 8.21696852e-01,
       4.63246799e-06, 3.14741299e-05, 9.79473075e-01, 1.32175573e-05,
       9.62937142e-01, 9.80496661e-01, 1.09464051e-03, 3.89766915e-02,
       6.81192602e-04, 3.62936010e-01, 1.32175573e-05, 5.43003636e-01,
       2.47611098e-04, 9.36476391e-01, 7.73311840e-04, 4.63246799e-06,
       9.31172226e-01, 2.65630493e-04, 2.41604749e-02, 4.53416481e-02,
       1.71644562e-01, 9.89550983e-04, 9.88307127e-01, 3.21747042e-05,
       1.39982258e-05, 9.39634416e-01, 9.08810027e-01, 7.86425504e-03,
       9.31172226e-01, 8.08454641e-01, 4.01370118e-05, 4.85685372e-02,
       2.41224075e-06, 6.27421196e-05, 8.91238734e-05, 9.55656623e-01,
       4.88063734e-04, 7.86425504e-03, 8.74096120e-01, 3.08608779e-02,
       1.62091598e-05, 2.41224075e-06, 3.08608779e-02, 9.99084622e-03,
       9.31172226e-01, 9.80496661e-01, 9.08810027e-01, 9.40249419e-01,
       1.07935835e-03, 9.90147425e-01, 3.70716571e-05, 1.90478336e-02,
       3.89766915e-02, 9.85347545e-01, 1.41414799e-03, 1.09724364e-02,
       3.99810706e-05, 9.92975207e-05, 4.58916351e-03, 9.91354149e-03,
       9.93482882e-01, 1.46033992e-04, 9.36476391e-01, 1.52453067e-04,
       5.01862137e-06, 4.95121515e-03, 2.68860215e-05, 2.93671985e-05,
       5.85777941e-04, 6.88830716e-06, 3.81995978e-05, 9.80368788e-01,
       1.62091598e-05, 9.34673409e-01, 9.84141228e-01, 9.15255417e-04,
       2.20875963e-05, 4.63246799e-06, 2.49246983e-02, 9.73022282e-01,
       9.43811792e-01, 6.49091356e-06, 9.91824378e-01, 1.10999088e-02,
       4.95121515e-03, 1.62091598e-05, 3.84808085e-04, 9.57189842e-05,
       5.44839289e-05, 2.50646067e-04, 2.73403437e-03, 3.06605432e-04,
       7.04136283e-01, 1.62091598e-05, 1.09724364e-02, 5.85568268e-05,
       9.74012908e-01, 9.43811792e-01, 5.44839289e-05, 1.44023866e-04,
       1.85270178e-01, 1.73168741e-02, 5.01862137e-06, 7.99591202e-05,
       9.43811792e-01, 2.05973313e-04, 2.65630493e-04, 1.01304769e-04,
       9.44802860e-01, 1.87831425e-05, 4.47009428e-04, 1.52453067e-04,
       7.07001668e-01, 9.99084622e-03, 7.18767768e-03, 9.28256144e-01,
       2.98818655e-04, 5.53771811e-04])

In [42]:
# calculate AUC
metrics.roc_auc_score(y_test, y_pred_prob)

0.9973856209150327